// Copy this file to secrets.h and fill in your credentials
// secrets.h is gitignored and will not be committed

#define WIFI_SSID "your_wifi_ssid"
#define WIFI_PASSWORD "your_wifi_password"
#define BATTERY_MAC "C8:47:80:1C:E2:85" // May vary
